body{
    background: white
}
.main-div {
    display: flex;

}

.container {
    margin-left: 50px;
}
.container-img {
    display: inline-block;
    margin-right: 160px;
}
#img2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}
.grey-letter {
    color: grey;
}


/* .heading2 {
    width: 800px;
}
.text2 {
    width: 800px;
}
.group2 {
    width: 850px;
    display:inline-block;
    padding: 20px;
}
.containerimg {
    display: flex;
    justify-content: rigth;
} */