<!-- your html code here -->
<div class="row container-fluid d-flex justify-content-center mb-5 mt-5">
    <div class="main-div">
        <div class="container col-md-6">
           <div class="title"><h3>The First Heading <span class="grey-letter">Will Catch Your Eye</span></h3></div>
           <div class="text">Donec ullamcorper bulla non metus auctor fringilla. Vestibulum id ligula porta felis <br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br>consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
           </div>
       </div>
           <div class="container-img col-md-6"><img src="/website/assets/img/1.jpg" id="img2"></div>
   </div>
</div>