<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 1340px;">
            <div class="row g-0">    
            <div class="col-md-8">
                <div class="card-body">
                <h4 class="card-title p-1 mt-4">The First Heading Will Heading <span class="grey-letter">Will Catch Your Eye</span></h4>
                <p class="card-text ps-2 pe-2">Donec ullamcorper bulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br>consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
            <div class="imagen-calvo col-md-4 d-flex justify-content-start">
                <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle pe-3" alt="...">
            </div>
            </div>
        </div>
    </div>
</body>
</html>