<!-- your html code here -->
        <div class="main-div mb-5 mt-5">
            <div class="container">
                <div class="heading">
                    <h1>The First Heading <span class="grey-letter">Will Catch Your Eye</span></h1>
                </div>
                <div class="text">Donec ullamcorper bulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br>consectetur. Fusce dapibus, tellus ac cursus commodo.
                </div>
            </div>
                <div class="container-img"><img src="/website/assets/img/1.jpg" id="img2"></div>
            </div>
        </div>

        