<div class="ms-5">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pharetra enim mus, porta ullamcorper semper cursus
        condimentum
        porttitor iaculis in nisl tortor lacinia, erat mollis vehicula laoreet posuere tristique diam. Nunc augue at
        penatibus eu ultrices ligula litora, cum lectus nam suspendisse scelerisque quisque egestas, cubilia sem varius
        sociis orci taciti.

    </p>
</div>
<div class="row d-flex justify-content-center mb-5">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1763326401/es/foto/opini%C3%B3n-del-cliente-buen-concepto-de-calificaci%C3%B3n-usuario-presionado-a-mano-e-icono-de-cinco.jpg?s=1024x1024&w=is&k=20&c=WB0861eVQ0O7AFysyx0rJzG-eug0KoroaSbACr2t0T8="
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1482326530/es/foto/concepto-de-gesti%C3%B3n-de-documentos-empresariales-y-de-datos-gesti%C3%B3n-y-control-de-datos-en-l%C3%ADnea.jpg?s=1024x1024&w=is&k=20&c=e9imdpfRoUcntuWViGCGw2xBbtdyA87UTFAVxNdFAq0="
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1467350162/es/foto/concepto-de-lista-de-verificaci%C3%B3n-de-rendimiento-empresarial-hombre-de-negocios-que-usa-una.jpg?s=1024x1024&w=is&k=20&c=uCIUtL7mJYbEeTiokxCPFXBgCab8gqfbb9_XlmQnlSk="
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>
    </div>

</div>