<div class="mb-5 mt-5">
    <div class="containerimg"><img
            src="https://img.freepik.com/fotos-premium/trabajando-computadora-portatil_1098-12490.jpg?w=360" id="img2"
            </div>
        <div class="group2">
            <div class="heading2">
                <h1 class="greycolor"><span>The Second Heading </span> Is Pretty Cool Too.</h1>
            </div>
            <div class="text2">Luctus laoreet massa litora vel sociis inceptos fusce, rhoncus sagittis tristique ac
                nascetur at class iaculis, scelerisque feugiat pretium mus nec tempus. Donec faucibus nibh elementum
                nascetur urna posuere aliquam euismod, odio ornare cursus nisi suspendisse orci class, mi vel ligula
                hendrerit nulla felis gravida. Gravida aenean consequat velit quisque vestibulum hac, dapibus accumsan
                turpis rhoncus molestie nullam, non tristique taciti sagittis primis.</div>
        </div>
    </div>