<!-- your html code here -->
<div class="position-relative row">
    <h1 class="position-absolute text-center bg-white w-auto"
    style="top:15%;
           font-size: 8vw;
           left:0;
           right:0;
           margin-left: 2vw;
           margin-right: 2vw;"
    >One Page Wonder</h1>
    <h2 class="position-absolute text-center bg-white w-auto"
    style="top:40%;
           font-size: 5vw;
           left:0;
           right:0;
           margin-left: 2vw;
           margin-right: 2vw;"
    >Will Knock Your Socks Off</h2>
    <img class="img-fluid" src="../website/assets/img/bg.jpg">
    
</div>